html {
    scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
}
/* css style for header image-logo and navbar */
header {
    height: 90px;
    background-color: rgb(54, 29, 165);
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
    position: fixed;
    width: 100%;
}
.logo-header {
    padding: 5px;
    margin-top: 15px;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbar ul .nav {
    margin-top: 12.5px;
    padding: 20px;
    opacity: 0.8;
    cursor: pointer;
    font-weight: bold;
}
.navbar ul li:hover {
    opacity: 1;
    background-color: rgb(23, 44, 238);
    cursor: pointer;
}
/* container */
.container {
    background-image: url(/assets/img/container.jpg);
    background-size: cover;
    height: 350px;
    padding: 100px;
}
#title {
    padding-top: 20px;
    color: white;
}
.text {
    margin-top: 20px;
}
/* for about */
.about {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.about-img {
    display: flex;
    flex-direction: column;
}
.text-image {
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
h2 {
    color: black;
    text-align: center;
    padding-top: 30px;
}
/* product */
.product {
    background-color: rgb(34, 4, 82);
    padding: 60px;
}
.product-section {
    display: flex;
    flex-direction: row;
    padding: 10px 50px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.img-pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* Map */
.find-map {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    margin-bottom: 20px;
}
.maping {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Footer */
footer {
    height: 40px;
    background-color: rgb(54, 29, 165);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* for mobile */
@media only screen and (max-width: 600px) {
    .about-1 {
        background: rgb(42, 54, 226);
    }
    .product-section {
        display: flex;
        flex-direction: row;
        padding: 10px 50px;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .img-pro {
        margin-top: 30px;
    }
    .container {
        text-align: center;
    }
}
/* star */
.star {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
.fa {
    color: black;
    padding: 5px;
}
.checked {
    color: orange;
}
/* for desktop */
@media only screen and (min-width: 992px) {
    .about-1 {
        background: none;
    }
}
